<div *ngIf="game" class="game-detail-container">
  <div class="game-hero">
    <img
      *ngIf="game.background_image"
      [src]="game.background_image"
      [alt]="game.name"
      class="game-hero-image"
    />
    <div class="game-title-overlay">
      <h1>{{ game.name }}</h1>
    </div>
  </div>

  <div class="game-info container mt-4">
    <p class="text-muted mb-2">📅 Release: {{ game.released }}</p>
    <p class="text-muted mb-3">⭐ Rating: {{ game.rating }} / {{ game.rating_top }}</p>
    <p class="game-description">{{ game.description_raw }}</p>

    <!-- HOURS DETAILS -->
    <app-playtime-display 
      [loadingPlaytime]="game.loadingPlaytime" 
      [playtime]="game.playtime">
    </app-playtime-display>

    <!-- ACTION BUTTONS -->
    <app-game-action-buttons [game]="game"></app-game-action-buttons>
  </div>
</div>
