<div *ngIf="wishlist.length === 0">
  <p>No hay juegos en tu wishlist.</p>
</div>

<h1 *ngIf="user">Wishlist by {{ user.name }}</h1>
<h2 *ngIf="user" class="badge bg-primary">{{ wishlist.length }} games</h2>
<div *ngIf="wishlist.length > 0" class="row g-4">
  <div *ngFor="let game of wishlist.slice().reverse()" class="col-md-6 col-lg-3">
    <div class="card h-100 shadow-sm bg-black">
      <app-game-card-body 
        [game]="game" 
        [isUserProfile]="true"
        (gameUpdated)="onGameListUpdate($event)"
      >
      </app-game-card-body>
    </div>
  </div>
</div>
