<div *ngIf="wishlist.length === 0">
  <p>No hay juegos en tu wishlist.</p>
</div>

<div *ngIf="wishlist.length > 0" class="row g-4">
  <div *ngFor="let game of wishlist" class="col-md-6 col-lg-4">
    <div class="card h-100 shadow-sm position-relative">
      <img
        *ngIf="game.gameImage"
        [src]="game.gameImage"
        [alt]="game.gameName"
        class="card-img-top"
        style="object-fit: cover; height: 200px;"
      />
      <div class="card-body">
        <h5 class="card-title">{{ game.gameName }}</h5>
        
        <app-game-action-buttons
          [game] = "game"
          [isUserProfile]="true"
          (gameUpdated)="onGameListUpdate($event)"

        ></app-game-action-buttons>

      </div>
    </div>
  </div>
</div>
