<div class="container mt-4">
  <h2 class="mb-4">Top Rated Games</h2>

  <div *ngIf="games.length > 0; else loading">
    <div class="row g-4">
      <div *ngFor="let game of games" class="col-md-6 col-lg-4">
        <div class="card h-100 shadow-sm" (click)="goToDetail(game.id)" style="cursor: pointer;">
          <img
            *ngIf="game.background_image"
            [src]="game.background_image"
            [alt]="game.name"
            class="card-img-top zoom-image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ game.name }}</h5>
            <p class="card-text">
              📅 Released: {{ game.released }} <br />
              ⭐ Rating: {{ game.rating }} / {{ game.rating_top }}
            </p>

            <div *ngIf="auth.isLoggedIn()" class="mt-2 d-flex gap-2 flex-wrap">
              <button
                class="btn btn-sm"
                [ngClass]="isInWishlist(game.id) ? 'btn-danger' : 'btn-outline-primary'"
                (click)="toggleWishlist(game); $event.stopPropagation()"
              >
                {{ isInWishlist(game.id) ? 'Remove from Wishlist ❤️' : 'Add to Wishlist' }}
              </button>

              <button
                class="btn btn-sm"
                [ngClass]="isPlayed(game.id) ? 'btn-warning' : 'btn-outline-success'"
                (click)="togglePlayed(game); $event.stopPropagation()"
                >
                {{ isPlayed(game.id) ? 'Unmark Played ✅' : 'Mark as Played' }}
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="text-center mt-5">
      <div class="spinner-border text-primary" role="status"></div>
      <p class="mt-3">Loading games...</p>
    </div>
  </ng-template>
</div>
