<section class="text-center py-5 d-flex align-items-center justify-content-center" 
  style="min-height: 100vh;;
        background-image: url('../../../../assets/images/sonic-racing.webp');
        background-size: cover;
        background-position: center;"
  >
  <div class="container">

    <!-- Título -->
    <h2 class="fw-bold mb-3">
      Track Your Game Collection on the Go
    </h2>

    <!-- Descripción -->
    <p class="text-muted lead mb-4">
      With GT you can manage your game collection directly from the app and discover new games wherever you are.
    </p>

    <!-- Botones de descarga -->
    <div class="d-flex justify-content-center gap-3">
      <a href="#" class="btn btn-dark btn-lg d-flex align-items-center gap-2">
        <i class="bi bi-google-play fs-4"></i>
        <span>Google Play</span>
      </a>
      <a href="#" class="btn btn-dark btn-lg d-flex align-items-center gap-2">
        <i class="bi bi-apple fs-4"></i>
        <span>App Store</span>
      </a>
    </div>

  </div>
</section>
