<div class="card shadow-sm p-3 mb-3">
  <ul class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action" routerLink="/wishlist">
      <strong>Wishlist Games</strong> {{ wishlistCount }}
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/collection">
      <strong>Played</strong> {{ playedGamesCount }}
    </a>

    <a class="list-group-item list-group-item-action" routerLink="/followers">
      <strong>Followers</strong> {{ followersCount }}
    </a>
    
    <a class="list-group-item list-group-item-action" routerLink="/following">
      <strong>Following</strong> {{ followingCount }}
    </a>
  </ul>
</div>
