<img [src]="game.background_image" class="card-img-top" *ngIf="game.background_image && showImage"/>

<div class="card-body">
  <h5 class="card-title" (click)="goToDetail(game.id)" style="cursor: pointer;">{{ game.name }}</h5>
  <p class="card-text">⌚ {{ game.released }}</p>

  <div class="card-description" *ngIf="showDescription" [innerHTML]="game.description"></div>

  <p class="card-text">⭐ {{ game.rating }}</p>
  
  <p>
    🎮 Genres: 
      <span *ngFor="let genre of game.genres; let isLast = last">
      {{ genre.name }}<span *ngIf="!isLast"> - </span>
      </span>
  </p>
  
  <p>
    🎮 Platforms: 
      <span *ngFor="let platform of game.platforms let isLast = last">
      {{ platform.platform.name }}<span *ngIf="!isLast"> - </span>
      </span>
  </p>
  

  <!-- HOURS DETAILS -->
  <app-playtime-display 
    [loadingPlaytime]="game.loadingPlaytime" 
    [playtime]="game.playtime">
  </app-playtime-display>

  
  <!-- ACTION BUTTONS -->
  <app-game-action-buttons 
  [game]="game"
  [isUserProfile]="isUserProfile"
  (gameUpdated)="onGameUpdated($event)"
  ></app-game-action-buttons>
  
  
  <!-- MODAL -->
  
  <!-- Botón para abrir el modal -->
  <button class="btn btn-sm btn-outline-secondary mt-2" (click)="openStatusModal()">
    🎮
  </button>

  <!-- Status Modal -->
  <div #statusModal class="modal fade" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statusModalLabel">Set Game Status</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-unstyled d-flex flex-column gap-2">
            <li>
              <button type="button" class="btn"
                      [ngClass]="{
                        'btn-primary': selectedStatus === 'playing',
                        'btn-outline-primary': selectedStatus !== 'playing'
                      }"
                      (click)="setStatus('playing')">
                🎮 Playing
              </button>
            </li>
            <li>
              <button type="button" class="btn"
                      [ngClass]="{
                        'btn-success': selectedStatus === 'beaten',
                        'btn-outline-success': selectedStatus !== 'beaten'
                      }"
                      (click)="setStatus('beaten')">
                ✅ Beaten
              </button>
            </li>
            <li>
              <button type="button" class="btn"
                      [ngClass]="{
                        'btn-info text-white': selectedStatus === 'completed',
                        'btn-outline-info': selectedStatus !== 'completed'
                      }"
                      (click)="setStatus('completed')">
                🏆 Completed 100%
              </button>
            </li>
            <li>
              <button type="button" class="btn"
                      [ngClass]="{
                        'btn-danger': selectedStatus === 'abandoned',
                        'btn-outline-danger': selectedStatus !== 'abandoned'
                      }"
                      (click)="setStatus('abandoned')">
                🚫 Abandoned
              </button>
            </li>

            <!-- Clear button -->
            <li>
              <button type="button" class="btn btn-outline-secondary"
                      (click)="clearStatus()">
                ♻️ Clear Status
              </button>
            </li>

          </ul>


          <img [src]="game.background_image" class="card-img-top">
        </div>
      </div>
    </div>
  </div>

  <!-- Rating & Duration MODAL -->
  <div #ratingModal class="modal fade" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ratingModalLabel">Rate this Game</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <h6>⭐ Tu valoración:</h6>
          <span *ngFor="let star of [1,2,3,4,5]" 
                (click)="setUserRating(game.id, star);"
                style="cursor: pointer; font-size: 2rem;"
                [ngClass]="{
                  'text-warning': star <= userRatings[game.id],
                  'text-secondary': star > userRatings[game.id]
                }">
            ★
          </span>
        </div>

        
        <div>
          <label for="hours-played">Duration (hours)</label>
          <input id="hours-played" type="number" min="0"
            [(ngModel)]="userHours[game.id]"
            class="form-control"/>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary"
                  (click)="saveHoursPlayed(game.id); closeRatingModal()">
            Guardar
          </button>
        </div>

      </div>
    </div>
  </div>


</div>

