<img [src]="game.background_image" class="card-img-top" *ngIf="game.background_image" />

<div class="card-body">
  <h5 class="card-title" (click)="goToDetail(game.id)" style="cursor: pointer;">{{ game.name }}</h5>
  <p class="card-text">⭐ {{ game.rating }}</p>
  
  <p>
    🎮 Genres: 
      <span *ngFor="let genre of game.genres; let isLast = last">
      {{ genre.name }}<span *ngIf="!isLast"> - </span>
      </span>
  </p>

  <!-- HOURS DETAILS -->
  <app-playtime-display 
    [loadingPlaytime]="game.loadingPlaytime" 
    [playtime]="game.playtime">
  </app-playtime-display>

  
  <!-- ACTION BUTTONS -->
  <app-game-action-buttons 
  [game]="game"
  [isUserProfile]="isUserProfile"
  (gameUpdated)="onGameUpdated($event)"
  ></app-game-action-buttons>
  
  
  <!-- MODAL -->
  
  <!-- Botón para abrir el modal -->
  <button class="btn btn-sm btn-outline-secondary mt-2" (click)="openStatusModal()">
    Update Game Status
  </button>

  <!-- Status Modal -->
  <div #statusModal class="modal fade" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statusModalLabel">Set Game Status</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-unstyled d-flex flex-column gap-2">
            <li><button class="btn btn-outline-primary" [ngClass]="{'active': selectedStatus === 'playing'}" (click)="setStatus('playing')">🎮 Playing</button></li>
            <li><button class="btn btn-outline-success" [ngClass]="{'active': selectedStatus === 'beaten'}" (click)="setStatus('beaten')">✅ Beaten</button></li>
            <li><button class="btn btn-outline-info" [ngClass]="{'active': selectedStatus === 'completed'}" (click)="setStatus('completed')">🏆 Completed 100%</button></li>
            <li><button class="btn btn-outline-danger" [ngClass]="{'active': selectedStatus === 'abandoned'}" (click)="setStatus('abandoned')">🚫 Abandoned</button></li>
          </ul>

          <img [src]="game.background_image" class="card-img-top">
        </div>
      </div>
    </div>
  </div>


</div>

