<div class="container py-4">
  <!-- STATS -->
  <app-user-stats></app-user-stats>

  <div class="text-center mb-4">
    <img [src]="currentUser?.avatarUrl || 'assets/images/profile-pic.jpg'"  alt="User Avatar" class="rounded-circle mb-2" width="100" height="100">
    <h4>&#64; {{ currentUser.displayName }}</h4>
  
    <p *ngIf="currentUser.bio">{{ currentUser.bio }}</p>
  </div>

  <div class="d-flex justify-content-center mb-4">
    <!-- ACTIVE INFO BUTTON -->
    <button class="btn me-2" 
        [ngClass]="{ 'btn-primary': activeInfo === 'ratings', 'btn-outline-primary': activeInfo !== 'ratings' }" 
        (click)="activeInfo = 'ratings'">Ratings</button>
    <button class="btn" 
        [ngClass]="{ 'btn-primary': activeInfo === 'reviews', 'btn-outline-primary': activeInfo !== 'reviews' }" 
        (click)="activeInfo = 'reviews'">Reviews</button>
  </div>

    <!-- ACTIVE INFO CONTENT -->
  <div [ngSwitch]="activeInfo">
    <app-ratings *ngSwitchCase="'ratings'"></app-ratings>
    <app-reviews *ngSwitchCase="'reviews'"></app-reviews>
  </div>


</div>



