<div class="container py-4">
  <!-- STATS -->
  <app-user-stats></app-user-stats>

  <div class="text-center mb-4">
    <img src="assets/images/profile-pic.jpg" alt="User Avatar" class="rounded-circle mb-2" width="100" height="100">
    <h4>{{ username }}</h4>
  </div>

  <div class="d-flex justify-content-center mb-4">

    <!-- <button class="btn me-2" [ngClass]="{ 'btn-primary': activeTab === 'wishlist', 'btn-outline-primary': activeTab !== 'wishlist' }" (click)="activeTab = 'wishlist'">Wishlist</button> -->
    <!-- STATUS BUTTONS -->
    <!-- <button class="btn me-2" [ngClass]="{ 'btn-primary': activeTab === 'playing', 'btn-outline-primary': activeTab !== 'playing' }" (click)="activeTab = 'playing'">Playing</button> -->
    <!-- <button class="btn me-2" [ngClass]="{ 'btn-primary': activeTab === 'beaten', 'btn-outline-primary': activeTab !== 'beaten' }" (click)="activeTab = 'beaten'">Beaten</button> -->
    <!-- <button class="btn me-2" [ngClass]="{ 'btn-primary': activeTab === 'completed', 'btn-outline-primary': activeTab !== 'completed' }" (click)="activeTab = 'completed'">Completed 100%</button> -->
    <!-- <button class="btn" [ngClass]="{ 'btn-primary': activeTab === 'abandoned', 'btn-outline-primary': activeTab !== 'abandoned' }" (click)="activeTab = 'abandoned'">Abandoned</button> -->


  <!-- ACTIVE INFO BUTTON -->
  <button class="btn me-2" 
      [ngClass]="{ 'btn-primary': activeInfo === 'ratings', 'btn-outline-primary': activeInfo !== 'ratings' }" 
      (click)="activeInfo = 'ratings'">Ratings</button>
  <button class="btn" 
      [ngClass]="{ 'btn-primary': activeInfo === 'reviews', 'btn-outline-primary': activeInfo !== 'reviews' }" 
      (click)="activeInfo = 'reviews'">Reviews</button>
  </div>

    <!-- ACTIVE INFO CONTENT -->
  <div [ngSwitch]="activeInfo">
    <app-ratings *ngSwitchCase="'ratings'"></app-ratings>
    <app-reviews *ngSwitchCase="'reviews'"></app-reviews>
  </div>


</div>



