<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">GameTracker</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn()">
          <a class="nav-link" style="cursor:pointer" (click)="logout()">Logout</a>
        </li>
      </ul>
      <span class="navbar-text me-3" *ngIf="auth.isLoggedIn()">
        Bienvenido, {{ auth.getCurrentUser()?.name || auth.getCurrentUser()?.email }}
      </span>
      <app-search-bar></app-search-bar>
    </div>
  </div>
</nav>
