<!-- played.component.html -->
<div *ngIf="playedGames.length === 0">
  <p>No has marcado ningún juego como jugado.</p>
</div>

<div *ngIf="playedGames.length > 0" class="row g-4">
  <div *ngFor="let game of playedGames.slice().reverse()" class="col-md-6 col-lg-4">
    <div class="card h-100 shadow-sm position-relative">

      <!-- Aquí usas el componente reutilizable -->
      <app-game-card-body
        [game]="game"
        [isUserProfile]="true"
        (gameUpdated)="onGameUpdated($event)"
        origin="'played'"
        >
      </app-game-card-body>
    </div>
  </div>
</div>
