<div class="container mt-4 h-100">
  <div class="row">
    
    <!-- Columna izquierda: menú -->
    <div class="col-12 col-md-3 mb-3 settings-menu">
      <ul class="list-group">
        <li class="list-group-item"
            [ngClass]="{ 'active': activeTab === 'profile'}"
            (click)="activeTab ='profile'">Profile</li>

        <li class="list-group-item"
            [ngClass]="{ 'active': activeTab === 'account'}"
            (click)="activeTab = 'account'">Account</li>

        <li class="list-group-item"
            [ngClass]="{ 'active': activeTab === 'email'}"
            (click)="activeTab = 'email'">Email</li>
      </ul>
    </div>

    
    <!-- Columna central + derecha -->

    <div class="col-12 col-md-9">
      <div [ngSwitch]="activeTab">

        <!-- Profile -->
        <div *ngSwitchCase="'profile'">
          <app-settings-profile></app-settings-profile>
        </div>

        <!-- Account -->
        <div *ngSwitchCase="'account'">
          <app-settings-account></app-settings-account>
        </div>
        
        <!-- Email -->
        <div *ngSwitchCase="'email'">
          <app-settings-email></app-settings-email>
        </div>

      </div>
    </div>

  </div>
</div>
